* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* debut style -----------------------------------------------------*/
.conteneur {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  justify-content: start;
  align-items: start;
  flex-wrap: wrap;
}
.links {
  display: flex;
  justify-content: center;
  padding: 20px 30px;
  width: 100em;
  list-style: none;
  gap: 30px;
}
.accueil {
  display: flex;
  justify-content: center;
  width: 100em;
  /* height: 400px; */
  margin: 0px;
  gap: 10px;
  border: 2px solid;
  border-color: darkslategrey;
}
.accueil .infoperso {
  flex-basis: 33%;
  justify-content: center;
}
.accueil .infotext {
  flex-basis: 33%;
  text-align: center;
  font-size: 17px;
}
.accueil .infovideo {
  /* background-color: #a8df43; */
  flex-basis: 34%;
}
h2 h3 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.conteneur2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgrey;
  padding: 50px;
  margin: 50px;
}
.conteneur2 .travail {
  flex-basis: 50%;
  gap: 10px;
}

.conteneur3 {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 50px;
  margin: 50px;
  border: 2px solid;
  border-color: darkslategrey;
}
.conteneur3 .contact {
  flex-basis: 33%;
}
